VOLC_SPEECH_API_KEY=
# Legacy speech-console credentials can be used instead of VOLC_SPEECH_API_KEY:
# VOLC_SPEECH_APP_ID=
# VOLC_SPEECH_ACCESS_TOKEN=
VOLC_SPEECH_RESOURCE_ID=volc.seedasr.sauc.duration
VOLC_SPEECH_ENDPOINT=wss://openspeech.bytedance.com/api/v3/sauc/bigmodel_async

VOLC_ARK_API_KEY=
VOLC_ARK_MODEL=doubao-seed-2-0-lite-260215
VOLC_ARK_ENDPOINT=https://ark.cn-beijing.volces.com/api/v3/responses

PORT=8787
JOCAM_ALLOWED_ORIGINS=https://mikeywa.site,https://www.mikeywa.site,https://rive.mikeywa.site
JOCAM_MAX_SESSION_MS=300000
JOCAM_MAX_CONNECTIONS_PER_IP=2
